doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title CDI 2.0 New & Noteworthy

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 CDI 2.0 NEW & NOTEWORTHY

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Something something... something goes here
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 The New
        p The New:
        ul
          li Event Enhancements
          li Java 8 Baseline
          li Enhanced Configuration Capabilities in Extensions
          li Applying interceptors to produced beans
          
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Event Enhancements
        h3 Event Ordering
        p In the past, the order of observer methods was not guaranteed.  Starting with CDI 2.0 you can add a @Priority annotation to guarantee the order, largest to smallest.
        p The default priority is javax.interceptor.Interceptor.Priority.APPLICATION + 500

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Event Enhancements
        h3 Programmatic Events
        p Prior to CDI 2.0, the only option available for programmatic events was BeanManager.fire.
        p Now you can leverage BeanManager.getEvent() to get a fully functional Event object
        p The event is typed to Object and has the @Default qualifier

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Event Enhancements
        h3 Asynchronous Events
        p While never specified in prior releases, events were always observed on the same thread as the sender.
        p CDI 2.0 provides a fireAsync method for sending async events

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Event Enhancements
        h3 Asynchronous Events
        p Firing async events is a contract - the sender and receiver have to support asynchronous calls
        p Observer methods are denoted with @ObservesAsync
        
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Event Enhancements
        h3 Asynchronous Events
        p Async events don't support priority
        p They will be called asynchronously with other observer methods
        p Mileage varies depending on the type of executor in use
        p Likewise, watch out for mutable events
        
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Event Enhancements
        h3 Asynchronous Events & Context Activation
        p Asynchronous events don't have context propagation
        p If you're firing from a JAX-RS call, the original request is lost
        p A separate request context is active within each observer method

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Java 8 Alignment
        h3 CDI 2.0 is heavily aligned to Java 8.  Many new features are based on Java 8 semantics, functional interfaces used heavily to write simple code, instances can be streamed.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Java 8 Alignment
        h3 Bean Configuration
        
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Java 8 Alignment
        h3 Instance Enhancements
        p Instances now support direct streaming, to represent that they are a collection of beans
        pre
          code.languaga-javascript.
            instance
              .stream()
              .findFirst()
              .ifPresent(bean -> bean.doSomething());
        
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Java 8 Alignment
        h3 Instance Enhancements

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          h2 The Noteworthy
          p The Noteworthy:
            ul
              li Stereotypes
              li Alternatives
              li Decorators
              li Portable Extensions
              li Bean Discovery
            
    script(src='build/build.js')
