// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-coy.css'
// Check out "bower_components/prism/themes/" for available themes
body {
  background: #eee
  opacity: 0.9;
  background-image: url('http://design.jboss.org/cdi/desktop/images/cdi_desktop_1920x1200.jpg')
}
.bespoke-active {
  opacity: 0.9;
}
.language-javascript {
  margin: 0 0 !important;
}
.strong{
  font-weight:bold;
}
p.small {
  font-size:10px;
}
.bespoke-progress-bar{
  background-color:darkorange;
}
