@import 'prism/themes/prism-coy.css'
body {
  background: #eee
  background-image: url('https://raw.githubusercontent.com/johnament/cdi-2.0-presentations/master/presentations-cdi-2-new/src/styles/background_white_1200.png')
}
.bespoke-slide {
  height:405px;
  left:420px;
}
.bespoke-active {
  background-color:white;
}
.language-javascript {
  margin: 0 0 !important;
}
  .strong{
    font-weight:bold;
  }
    p.small {
      font-size:10px;
    }
.bespoke-progress-bar{
  background-color:darkorange;
}
